<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fi.matiaskorhonen.gemsearch</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F6FFA33-D9BD-48F8-87DB-4801C5FD6D5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matias Korhonen</string>
	<key>description</key>
	<string>Search for gems</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GemSearch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gem</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Retrieving search suggestions ...</string>
				<key>script</key>
				<string>./gemsearch-alfred "{query}"
</string>
				<key>subtext</key>
				<string>Search for RubyGems</string>
				<key>title</key>
				<string>GemSear.ch</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3F6FFA33-D9BD-48F8-87DB-4801C5FD6D5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Geamsear.ch Alfred Workflow

An Alfred 2 Workflow for [GemSear.ch][gs]. Written in Go.

[gs]: http://www.gemsear.ch/

## Install

Just install the latest `.alfredworkflow` file from the [GitHub releases][releases] page.

[releases]: https://github.com/matiaskorhonen/alfred-bullet/releases

## Usage

1. Install the workflow (see above)

2. Search for gems with the `gem` keyword:

  ![GemSear.ch in action](images/gemsearch.png)

## Build from source

Unless you're planning on working on the source code, you probably down't need to build this from the source.

However, if you do want to build it, this is how:

1. Ensure that you've got a working Go work environment (see [How to Write Go Code][go-how]) with Go 1.4 or above.

2. Clone the repository into your working directory

  ```sh
  git clone git@github.com:matiaskorhonen/gemsearch-alfred.git \
    $GOPATH/src/github.com/matiaskorhonen/gemsearch-alfred

  cd $GOPATH/src/github.com/matiaskorhonen/gemsearch-alfred
  ```

3. Make the Alfred extension with `make workflow`

4. Install the workflow from the `build` directory

[go-how]: http://golang.org/doc/code.html

## License and Copyright

Copyright © 2015 Matias Korhonen.

Licensed under the MIT License, see the [LICENSE.txt](LICENSE.txt) file for details.
</string>
	<key>uidata</key>
	<dict>
		<key>3F6FFA33-D9BD-48F8-87DB-4801C5FD6D5F</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.gemsear.ch</string>
</dict>
</plist>
