<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>216EC990-E1B9-42B1-92B0-038303C50BD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E63F4AC2-BCE3-476B-8D43-688D354001FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59C5E52F-3074-469C-B7A1-C35755791C4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>507407A7-11AC-4673-B206-A5A71FD34A84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8692A7A7-83B7-4621-ABFA-ECCB213D038C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C347680D-2F1F-4A26-B2A6-1200B12F62A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93F1F4B3-8833-4231-B2ED-1161D40E3A97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B8F95DE-768C-4097-BE3D-1CFC00677D8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B9A6872-474A-4217-8789-E63CF9583F7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>263E90F1-CE1F-4E8F-8E68-D32C0C6944F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE69A8F7-AD63-4C27-B821-44E5DD918DB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9127A8F8-745B-4B5B-8E1F-7E5324D53757</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCBB23FD-FE78-47B8-96FC-BCBEE5893431</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64CA95ED-0FA1-401A-89FB-49A9CC7CEDCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCF94A6C-78F4-48FB-BC21-ACD16276544F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C80144F-6709-4822-8E39-B73949092703</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC274A26-9214-4231-9A01-D2CECDD40433</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE80B786-091B-4ABD-B4B6-AA6FA7A49517</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E95BDEF9-5267-41C9-AC69-FD8B4F299654</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12D51264-0199-4158-B999-0446486796C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F858A535-9A79-4568-8E40-EA139E3C753E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5FA897F-1665-4FBE-9A1B-72E5889B724B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Wayne Ashley Berry</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>inbox</string>
				<key>subtext</key>
				<string>Open Google Inbox in Chrome</string>
				<key>text</key>
				<string>Google Inbox</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B9A6872-474A-4217-8789-E63CF9583F7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://inbox.google.com/u/0/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>263E90F1-CE1F-4E8F-8E68-D32C0C6944F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mail</string>
				<key>subtext</key>
				<string>wayneashleyberry@gmail.com</string>
				<key>text</key>
				<string>Google Mail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>59C5E52F-3074-469C-B7A1-C35755791C4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mail.google.com/mail/u/?authuser=wayneashleyberry@gmail.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>507407A7-11AC-4673-B206-A5A71FD34A84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>contacts</string>
				<key>subtext</key>
				<string>Open Google Contacts in Chrome</string>
				<key>text</key>
				<string>Google Contacts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E95BDEF9-5267-41C9-AC69-FD8B4F299654</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/contacts/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>12D51264-0199-4158-B999-0446486796C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mail</string>
				<key>subtext</key>
				<string>wayne@wearenext.co.za</string>
				<key>text</key>
				<string>Google Mail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8692A7A7-83B7-4621-ABFA-ECCB213D038C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mail.google.com/a/wearenext.co.za</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C347680D-2F1F-4A26-B2A6-1200B12F62A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/calendar/render?authuser=wayneashleyberry@gmail.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8B8F95DE-768C-4097-BE3D-1CFC00677D8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>calendar</string>
				<key>subtext</key>
				<string>Open Google Calendar in Chrome</string>
				<key>text</key>
				<string>Google Calendar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>93F1F4B3-8833-4231-B2ED-1161D40E3A97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://play.google.com/music/listen?authuser=wayneashleyberry@gmail.com#/sr/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FE80B786-091B-4ABD-B4B6-AA6FA7A49517</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>play</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Google Play Music</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DC274A26-9214-4231-9A01-D2CECDD40433</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://drive.google.com/a/wearenext.co.za/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>64CA95ED-0FA1-401A-89FB-49A9CC7CEDCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>drive</string>
				<key>subtext</key>
				<string>wayne@wearenext.co.za</string>
				<key>text</key>
				<string>Google Drive</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BCBB23FD-FE78-47B8-96FC-BCBEE5893431</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>analytics</string>
				<key>subtext</key>
				<string>Open Google Analytics in Chrome</string>
				<key>text</key>
				<string>Google Analytics</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AE69A8F7-AD63-4C27-B821-44E5DD918DB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/analytics/web/?authuser=wayne@wearenext.co.za</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9127A8F8-745B-4B5B-8E1F-7E5324D53757</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>webmaster</string>
				<key>subtext</key>
				<string>Opens Google Webmaster Tools in Chrome</string>
				<key>text</key>
				<string>Google Webmaster Tools</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CCF94A6C-78F4-48FB-BC21-ACD16276544F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/webmasters/tools/home?hl=en&amp;authuser=wayne@wearenext.co.za</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4C80144F-6709-4822-8E39-B73949092703</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pagespeed</string>
				<key>subtext</key>
				<string>Open Google PageSpeed in Chrome</string>
				<key>text</key>
				<string>Google PageSpeed</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F858A535-9A79-4568-8E40-EA139E3C753E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://developers.google.com/speed/pagespeed/insights/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B5FA897F-1665-4FBE-9A1B-72E5889B724B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>photos</string>
				<key>subtext</key>
				<string>Open Google Photos in Chrome</string>
				<key>text</key>
				<string>Google Photos</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>216EC990-E1B9-42B1-92B0-038303C50BD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://photos.google.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E63F4AC2-BCE3-476B-8D43-688D354001FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>12D51264-0199-4158-B999-0446486796C3</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>216EC990-E1B9-42B1-92B0-038303C50BD7</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>263E90F1-CE1F-4E8F-8E68-D32C0C6944F3</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4C80144F-6709-4822-8E39-B73949092703</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>507407A7-11AC-4673-B206-A5A71FD34A84</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>59C5E52F-3074-469C-B7A1-C35755791C4C</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>64CA95ED-0FA1-401A-89FB-49A9CC7CEDCF</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>8692A7A7-83B7-4621-ABFA-ECCB213D038C</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>8B8F95DE-768C-4097-BE3D-1CFC00677D8D</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>9127A8F8-745B-4B5B-8E1F-7E5324D53757</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>93F1F4B3-8833-4231-B2ED-1161D40E3A97</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>9B9A6872-474A-4217-8789-E63CF9583F7C</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AE69A8F7-AD63-4C27-B821-44E5DD918DB7</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>B5FA897F-1665-4FBE-9A1B-72E5889B724B</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
		<key>BCBB23FD-FE78-47B8-96FC-BCBEE5893431</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>C347680D-2F1F-4A26-B2A6-1200B12F62A8</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>CCF94A6C-78F4-48FB-BC21-ACD16276544F</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>DC274A26-9214-4231-9A01-D2CECDD40433</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>E63F4AC2-BCE3-476B-8D43-688D354001FF</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>E95BDEF9-5267-41C9-AC69-FD8B4F299654</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F858A535-9A79-4568-8E40-EA139E3C753E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
		<key>FE80B786-091B-4ABD-B4B6-AA6FA7A49517</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
