<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0242E641-5442-4A42-B2FE-8F6B47B73ED5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99A31893-381D-4D70-A7F5-2CFDC5F49DFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>034E62CC-C1A9-4A1A-8325-35CB60F5CCF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5646DC88-9AB6-41F3-88DC-9BBE704AB145</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EEDDF055-7496-407A-91C6-C43F04B1D8FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>05661C83-B1FD-4EC8-9856-7A66A1903D1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C374ABA4-8FEE-4448-93EF-42C11ABDA7F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28BFEA7B-F701-43CC-AD82-6FF3ABDA78DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>399BF7B6-318B-4F90-8955-70D87D0E4D8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B011FFF-F8BD-4AAA-9E50-B06116956A79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86250145-E576-4DF0-B4C4-168A17DB8984</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5646DC88-9AB6-41F3-88DC-9BBE704AB145</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>150447A4-6215-4F1B-9415-DC816C0D9D98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DFEF8B6-B9AB-4AC7-B5C5-3634A017A252</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>441F1570-4BEC-4933-9472-4C92E2FE1146</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB7AE2F5-7CFC-43CE-9A43-27054CD19DEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE1A17A2-EB8B-4990-9651-73B3D9BCA670</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7597CCF-EA91-4F45-81B4-C5C745F67E31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>936E1613-46A0-41E3-B080-8A29EEB7A055</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEDDF055-7496-407A-91C6-C43F04B1D8FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0408CCA8-1E0C-41F0-B254-3ABE24490BE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD38CCB2-9765-4185-BEEB-6B4039D03082</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3526AC1-AAAB-411D-B1F0-2238865A5807</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Wayne Ashley Berry</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Over</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.tettra.co/teams/over</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>150447A4-6215-4F1B-9415-DC816C0D9D98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>o slack</string>
				<key>subtext</key>
				<string>We use Slack as our primary communications platform.</string>
				<key>text</key>
				<string>Slack</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FD38CCB2-9765-4185-BEEB-6B4039D03082</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://over.slack.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A3526AC1-AAAB-411D-B1F0-2238865A5807</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>o tettra</string>
				<key>subtext</key>
				<string>We use Tettra to store important documents about how we work.</string>
				<key>text</key>
				<string>Tettra</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>034E62CC-C1A9-4A1A-8325-35CB60F5CCF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5646DC88-9AB6-41F3-88DC-9BBE704AB145</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EEDDF055-7496-407A-91C6-C43F04B1D8FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.tettra.co/teams/over/pages?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0408CCA8-1E0C-41F0-B254-3ABE24490BE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>o gcp</string>
				<key>subtext</key>
				<string>We use GCP to run and manage online services.</string>
				<key>text</key>
				<string>Google Cloud Platform</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4B011FFF-F8BD-4AAA-9E50-B06116956A79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://console.cloud.google.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>86250145-E576-4DF0-B4C4-168A17DB8984</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>o trello</string>
				<key>subtext</key>
				<string>We use Trello to plan projects.</string>
				<key>text</key>
				<string>Trello</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E7597CCF-EA91-4F45-81B4-C5C745F67E31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://trello.com/overllc</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>936E1613-46A0-41E3-B080-8A29EEB7A055</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://rpm.newrelic.com/accounts/1333414/applications</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>99A31893-381D-4D70-A7F5-2CFDC5F49DFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/overhq?utf8=%E2%9C%93&amp;q={query}&amp;type=&amp;language=</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C374ABA4-8FEE-4448-93EF-42C11ABDA7F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>o newrelic</string>
				<key>subtext</key>
				<string>We use New Relic to monitor deployed applications.</string>
				<key>text</key>
				<string>New Relic</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0242E641-5442-4A42-B2FE-8F6B47B73ED5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>o github</string>
				<key>subtext</key>
				<string>We use GitHub for source code hosting.</string>
				<key>text</key>
				<string>GitHub</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>05661C83-B1FD-4EC8-9856-7A66A1903D1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>o mail</string>
				<key>subtext</key>
				<string>We use email, because sometimes we just have to.</string>
				<key>text</key>
				<string>Google Mail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AB7AE2F5-7CFC-43CE-9A43-27054CD19DEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mail.google.com/a/overhq.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CE1A17A2-EB8B-4990-9651-73B3D9BCA670</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://over.invisionapp.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>441F1570-4BEC-4933-9472-4C92E2FE1146</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>o invision</string>
				<key>subtext</key>
				<string>We use Invision for high fidelity prototyping.</string>
				<key>text</key>
				<string>Invision</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5DFEF8B6-B9AB-4AC7-B5C5-3634A017A252</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/pulls?utf8=%E2%9C%93&amp;q=is%3Aopen+is%3Apr+user%3Aoverhq</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>399BF7B6-318B-4F90-8955-70D87D0E4D8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>o pulls</string>
				<key>subtext</key>
				<string>View open pull requests on GitHub</string>
				<key>text</key>
				<string>Pull Requests</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>28BFEA7B-F701-43CC-AD82-6FF3ABDA78DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0242E641-5442-4A42-B2FE-8F6B47B73ED5</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>034E62CC-C1A9-4A1A-8325-35CB60F5CCF3</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>0408CCA8-1E0C-41F0-B254-3ABE24490BE7</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>05661C83-B1FD-4EC8-9856-7A66A1903D1B</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>150447A4-6215-4F1B-9415-DC816C0D9D98</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>28BFEA7B-F701-43CC-AD82-6FF3ABDA78DF</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>399BF7B6-318B-4F90-8955-70D87D0E4D8B</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>441F1570-4BEC-4933-9472-4C92E2FE1146</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>4B011FFF-F8BD-4AAA-9E50-B06116956A79</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>5646DC88-9AB6-41F3-88DC-9BBE704AB145</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>5DFEF8B6-B9AB-4AC7-B5C5-3634A017A252</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>86250145-E576-4DF0-B4C4-168A17DB8984</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>936E1613-46A0-41E3-B080-8A29EEB7A055</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>99A31893-381D-4D70-A7F5-2CFDC5F49DFF</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>A3526AC1-AAAB-411D-B1F0-2238865A5807</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>AB7AE2F5-7CFC-43CE-9A43-27054CD19DEF</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>C374ABA4-8FEE-4448-93EF-42C11ABDA7F2</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>CE1A17A2-EB8B-4990-9651-73B3D9BCA670</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>E7597CCF-EA91-4F45-81B4-C5C745F67E31</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>EEDDF055-7496-407A-91C6-C43F04B1D8FC</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>FD38CCB2-9765-4185-BEEB-6B4039D03082</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
